<div class="container">
  <div class="row border-bottom border-secondary py-2 align-items-center">
    <div class="col-12 col-lg-2">
      Actividad 6
    </div>
    <div class="col-12 col-lg-10 d-flex justify-content-end">
      <nav class="nav">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/newUser" routerLinkActive="active">Nuevo usuario</a>
      </nav>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
